<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649919607285-drr59jfurio1756l66ilos4bjq7k0e7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649919607285-drr59jfurio1756l66ilos4bjq7k0e7f</string>
	<key>API_KEY</key>
	<string>AIzaSyAoHxxOQtw4VWVVfW0TWiWq0UU_9hU4XiM</string>
	<key>GCM_SENDER_ID</key>
	<string>649919607285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WHSDS.Foodology</string>
	<key>PROJECT_ID</key>
	<string>foodology-c7dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>foodology-c7dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649919607285:ios:5ac21153e8024ae76970bc</string>
	<key>DATABASE_URL</key>
	<string>https://foodology-c7dc1.firebaseio.com</string>
</dict>
</plist>